.scroll-out{
height: 50rem;
}


.scroll1-outrot{
height: 20rem;
  overflow: scroll;
  transform: rotate(30deg);
}

.scroll1-inrot{
line-break: anywhere;
  transform: rotate(-30deg);
}


.scroll2-outrot{
height: 20rem;
  overflow: scroll;
  transform: skewX(70deg);;
}

.scroll2-inrot{
line-break: anywhere;
  transform: skewX(-70deg);;
}


.scroll3-outrot{
height: 20rem;
  overflow: scroll;
  transform: rotate3d(1, 1, 1, 80deg);
}

.scroll3-inrot{
line-break: anywhere;
transform: rotate3d(-1, 1, 1, -80deg);
}
