.scroll-out{
height: 50rem;
}


.scroll1-outrot{
height: 20rem;
  overflow: scroll;
  transform: rotate(30deg);
}

.scroll1-inrot{
line-break: anywhere;
  transform: rotate(-30deg);
}


.scroll2-outrot{
height: 20rem;
  overflow: scroll;
  transform: skewX(70deg);;
}

.scroll2-inrot{
line-break: anywhere;
  transform: skewX(-70deg);;
}
